.toprow{
    height: 65px;
    width: 100%;
    background-color: #4267b2 ; 
    font-family: 'Noto Sans KR', sans-serif; 
    
}

.facebooklogo{
    position: absolute;
    top: 10px;
    left: 80px;
}

.toprowtext{
    height: 45px;
    width: 455px;
    top: 20px;
}

.loginform{
    height: 40px;
    position: relative;
    top: 15px;
    left: 850px;
    font-family: 'Raleway', sans-serif;
}

.forgotpassword{
    position: relative;
    left: 1255px;
}